*{
    margin: 0;
    font-family:'Lucida Sans';
    border:border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232F3E;
    color: white;
    padding: 10px;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.service-description {
    margin-bottom: 20px;
}

.service-description p {
    margin-bottom: 10px;
}

.contact-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.option {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.option h2 {
    margin-top: 0;
}

.option img {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 10px;
}

footer {
    background-color: #232F3E;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
